<link href="/css/footer.css" rel="stylesheet" type="text/css">
<section class="contacto" id="contacto">
    <div class="contenido-seccion">
        <h2 class="titulo-seccion">Contacto</h2>
        <h3>Ponte en contacto ahora mismo!</h3>

        <div class="fila">
            <div class="col">
                <h2>
                    <i class="fa-solid fa-phone"></i> Teléfono
                </h2>
                <span class="info-contacto">57 3128192722</span>
            </div>
            <div class="col">
                <h2>
                    <i class="fa-solid fa-envelope"></i> Correo
                </h2>
                <span class="info-contacto">santopd1997@gmail.com</span>
            </div>
            <div class="col">
                <h2>
                    <i class="fa-solid fa-globe"></i> Página Web
                </h2>
                <span class="info-contacto">rafaelpadilla.com</span>
            </div>
        </div>
    </div>
</section>