<%- include('../partials/head',{styles:['home']}) %>

    <body>
        <main>
            <%- include('../partials/header') %>
                <!-- SECCION SOBRE MI -->
                <section class="sobremi" id="sobremi">
                    <div class="contenido-seccion">
                        <h2 class="titulo-seccion">Sobre Mi</h2>
                        <h3>Detalles personales</h3>

                        <p class="especial">Me dedico a producir ideas creativas y originales para mis clientes</p>
                        <p>Creo firmemente en el poder de la colaboración y la construcción de equipos sólidos. Mi
                            enfoque centrado en el cliente y mi compromiso con la excelencia me permiten entregar
                            resultados de calidad y superar las expectativas. Me encanta sumergirme en proyectos
                            complejos y encontrar soluciones elegantes que resuelvan problemas y mejoren la experiencia
                            del usuario.
                            Mi pasión por el aprendizaje me impulsa a buscar nuevas oportunidades para crecer
                            profesionalmente y compartir mis conocimientos con otros. Siempre estoy dispuesto a abrazar
                            nuevos desafíos y utilizar mi creatividad para impulsar la innovación.</p>

                        <div class="fila">
                            <div class="col">
                                <i class="fa-solid fa-user"></i>
                                <span class="titulo-detalle">Perfil</span>
                                <p>Apasionado desarrollador de software con sólidos conocimientos en programación,
                                    diseño y resolución de problemas.</p>
                            </div>
                            <div class="col">
                                <i class="fa-solid fa-location-pin"></i>
                                <span class="titulo-detalle">Ubicación</span>
                                <p>San Pedro de Uraba - Antioquia Colombia</p>
                            </div>
                            <div class="col">
                                <i class="fa-solid fa-flag"></i>
                                <span class="titulo-detalle">Intereses</span>
                                <p>Busco un entorno desafiante donde pueda contribuir con mi experiencia y creatividad
                                    para crear soluciones innovadoras y de alta calidad que impulsen el crecimiento de
                                    la empresa y mejoren la experiencia del usuario.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- SECCION HABILIDADES -->
                <section class="habilidades" id="habilidades">
                    <div class="contenido-seccion">
                        <h2 class="titulo-seccion">Mis habilidades</h2>
                        <h3>Me especializo en</h3>

                        <div class="fila">
                            <div class="col">
                                <span>HTML</span>
                            </div>
                            <div class="col">
                                <span>JavaScript</span>
                            </div>
                        </div>
                        <div class="fila">
                            <div class="col">
                                <span>CSS</span>
                            </div>
                            <div class="col">
                                <span>GIT</span>
                            </div>
                        </div>
                        <div class="fila">
                            <div class="col">
                                <span>Express</span>
                            </div>
                            <div class="col">
                                <span>MVC</span>
                            </div>
                        </div>
                        <div class="fila">
                            <div class="col">
                                <span>SCRUM</span>
                            </div>
                            <div class="col">
                                <span>Sequelize</span>
                            </div>
                        </div>
                        <div class="fila">
                            <div class="col">
                                <span>MySQL</span>
                            </div>
                            <div class="col">
                                <span>NodeJS</span>
                            </div>
                        </div>
                        <div class="fila">
                            <div class="col">
                                <span>VSCode</span>
                            </div>
                            <div class="col">
                                <span>Creación y consumo de APIs</span>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- SECCION RESUMEN -->
                <section class="resumen" id="resumen">
                    <div class="contenido-seccion">
                        <h2 class="titulo-seccion">Resumen</h2>
                        <h3>Mi preparación y experiencia</h3>
                        <div class="info">
                            <div class="col">
                                <span class="titulo">Educación</span>
                                <table>
                                    <tr>
                                        <td class="datos">
                                            <h3>2022 - 2023</h3>
                                        </td>
                                        <td rowspan="2" class="descripcion">
                                            Poseo certificaciones en lenguajes de programación y metodologías ágiles,
                                            que respaldan mi competencia y conocimiento en el desarrollo web.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h4>Desarrollador Web Full Stack</h4>
                                            <p>Digital House</p>

                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td class="datos">
                                            <h3>2019 - 2021</h3>
                                        </td>
                                        <td rowspan="2" class="descripcion">
                                            Soy un Tecnólogo en Análisis y Desarrollo de Sistemas de Información
                                            capacitado para crear soluciones tecnológicas innovadoras, con altos
                                            estándares de calidad y que satisfacen las necesidades del negocio.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h4>Tecnologo en analisis y desarrollo de sistemas de información </h4>
                                            <p>SENA</p>

                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td class="datos">
                                            <h3>2012 - 2013</h3>
                                        </td>
                                        <td rowspan="2" class="descripcion">
                                            Soy un Técnico en Sistemas con habilidades en soporte técnico,
                                            administración de redes y solución de problemas, asegurando un
                                            funcionamiento eficiente de los sistemas informáticos.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4>Técnico en sistemas</h4>
                                            <p>SENA</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col">
                                <span class="titulo">Experiencia Laboral</span>
                                <table>
                                    <tr>
                                        <td class="datos">
                                            <h3>Digital House</h3>
                                        </td>
                                        <td rowspan="2" class="descripcion">
                                            Demostré habilidades integrales en la resolución de problemas y experiencia
                                            en aplicar conceptos teóricos a situaciones prácticas, fortaleciendo mis
                                            habilidades de comunicación, trabajo en equipo y gestión del tiempo.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4>Proyecto integrador</h4>
                                            <p>Programador Junior</p>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>


        </main>
        <%- include('../partials/footer') %>
    </body>